<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <p class="navbar-brand">{{categoryName}}</p>

      <p class="navbar-brand link" (click)="onToggleStat()" *ngIf="showStat">Скрыть статистику</p>
      <p class="navbar-brand link" (click)="onToggleStat()" *ngIf="!showStat">Показать статистику</p>

    </div>

    <!-- settings, help -->
    <div>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>help</mat-icon>
      </button>
    </div>

  </div>
</nav>
