<div *ngIf="showStat">
  <div class="row">

    <app-stat-card class="col-lg-3 col-md-6 col-sm-6"
                   title="Завершенные задачи"
                   iconName="star"
                   [count]="completeTasksInCategory"
                   [countTotal]="totalTasksInCategory"
                   [completed]="true"
    >
    </app-stat-card>

    <app-stat-card class="col-lg-3 col-md-6 col-sm-6"
                   title="Незавершенные задачи"
                   iconName="hourglass_empty"
                   [count]="unCompleteTasksInCategory"
                   [countTotal]="totalTasksInCategory"
    >
    </app-stat-card>

    <app-stat-card class="col-lg-3 col-md-6 col-sm-6"
                   title="% завершенных задач"
                   iconName="poll"
                   [count]="completeTasksInCategory ? (completeTasksInCategory/totalTasksInCategory | percent):'0%'"
                   [completed]="true"
    >
    </app-stat-card>

    <app-stat-card class="col-lg-3 col-md-6 col-sm-6"
                   title="% незавершенных задач"
                   iconName="star_half"
                   [count]="unCompleteTasksInCategory ? (unCompleteTasksInCategory/totalTasksInCategory | percent):'0%'"
    >
    </app-stat-card>

  </div>
</div>

