/* You can add global styles to this file, and also import other style files */
@import "material-dashboard.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";


.not-found {
  margin-top: 30px !important;
  font-size: 20px;
  color: rgba(74, 74, 74, 0.98);
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.mat-mdc-form-field {
  width: 100%;
}

/*.mat-mdc-dialog-content {*/
/*  padding: 40px !important;*/
/*}*/

.mat-mdc-dialog-actions {
  padding-left: 24px !important;
}

.red {
  color: red !important;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.line {
  border-bottom: 1px solid #dadada;
  padding-top: 20px;
}
